<?php

lib_include( 'php_microformats' );

global $request;

$e = array( 
    'name'       => $Entry->description, 
    'begin'      => $Entry->dtstart,
    'end'        => $Entry->dtend,
    
    'location'   => array ( 
        'street'    => $Entry->street_address,
        'town'      => $Entry->locality,
        'zip'       => $Entry->postal_code,
        'state'     => $Entry->region,
        'country'   => $Entry->country_name
    ),
    
    'url'        => $Entry->url
    
); 

print phpMicroformats::createHCalendar( $e ); 

?>