

<form action="<?php url_for( 'auction_bullets' ); ?>" method="post" name="auction_bullets" id="auction_bullets">
<div>
<input name="method" type="hidden" value="post" />
<input name="submit_form" type="hidden" value="auction_bullets" />
<table border="0">

<tr><th colspan="2">
<?php breadcrumbs(); ?>
</th></tr>

	<tr>
		<td align="right" valign="top"><b>Bullet</b></td>
		<td valign="top" align="left"><textarea rows="8" cols="50" wrap="virtual" id="bullet_bullet" name="auctionbullet[bullet]"></textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Bullet" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

