
<link href="{{{url}}}/mention" rel="http://webmention.org/" />

{{#items}}

    <article class="h-entry hentry">

      <h2 class="entry-title e-content">{{title}}</h2>

      <a title="link" href="{{{url}}}/{{id}}" class="u-url" rel="bookmark" >

        <time class="dt-published published entry-date" datetime="{{published}}">{{published}}</time>

        <i class="icon-time"></i>

      </a>
      
        <span class="author vcard h-card p-author">

            <img alt="" src="{{{profile_image}}}" class="u-photo avatar photo" />

            <a class="u-url p-name" href="{{{author_url}}}" title="All posts by {{author}}" rel="author">{{author}}</a>

        </span>
      
    </article>

{{#is_reply}}
<h2>a reply to:</h2>
<a href="{{original_url}}"><h3>{{original_url}}</h3></a>
{{/is_reply}}


{{#has_replies}}
<h2>replies:</h2>
{{#replies}}
<a href="{{reply_url}}"><h3>{{reply_url}}</h3></a>
{{/replies}}
{{/has_replies}}

{{/items}}

