
<link href="http://localhost:4444/mention" rel="http://webmention.org/" />

{{#items}}

    <article class="h-entry hentry">

      <h2 class="entry-title e-content">{{title}}</h2>

      <a title="link" href="{{{post_url}}}" class="u-url" rel="bookmark" >

        <time class="dt-published published entry-date" datetime="{{published}}">{{published}}</time>

        <i class="icon-time"></i>

      </a>
      
        <span class="author vcard h-card p-author">

            <img alt="" src="{{{profile_image}}}" class="u-photo avatar photo" />

            <a class="u-url p-name" href="{{{author_url}}}" title="All posts by {{author}}" rel="author">{{author}}</a>

        </span>
      
    </article>

{{/items}}

