
<link href="http://localhost:4444/mention" rel="http://webmention.org/" />

{{#items}}

    <div class="h-entry">

      <h2 class="entry-title">{{title}}</h2>

      <a title="link" href="{{{post_url}}}" class="u-url" >

        <time class="dt-published published" datetime="{{published}}">{{published}}</time>

        <i class="icon-time"></i>

      </a>

      <div class="h-card author">

        <a class="u-url" href="{{{author_url}}}">

          <img alt="{{author}}" class="u-photo" src="{{{profile_image}}}">

        </a>

        <p class="p-name">{{author}}</p>

      </div>
      
    </div>

{{/items}}

