
<div style="width:500px;">

<?php $plugin_url = WP_PLUGIN_URL.'/'.plugin_basename( dirname(dirname(__FILE__)) ); ?>


<link rel="stylesheet" href="<?php echo $plugin_url.'/res/yourls.css'; ?>" type="text/css" />
<script src="<?php echo $plugin_url.'/res/yourls.js'; ?>" type="text/javascript"></script>
  
  <script type="text/javascript">
  // <![CDATA[

  jQuery(document).ready(function($){

  	// On form submit, first reset all pwd fields
  	$('.omb_submit').click(function(){
  	});
	
  });


  // ]]>
  </script>


<?php wp_ozh_yourls_omb_page(); ?>

</div>