
<?php render_partial('nav'); ?>

<form action="<?php url_for( 'auctions' ); ?>" method="post" name="auctions" id="auctions">
<div>
<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<input name="submit_form" type="hidden" value="auctions" />
<table border="0">

<tr><th colspan="2">
<?php breadcrumbs(); ?>
</th></tr>

	<tr>
		<td align="right" valign="top"><b>Headline</b></td>
		<td valign="top" align="left"><input size="50" maxlength="255" id="auction_headline" name="auction[headline]" type="text" value="<?php print $Member->headline; ?>" /></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b>Body</b></td>
		<td valign="top" align="left"><textarea rows="8" cols="50" wrap="virtual" id="auction_body" name="auction[body]"><?php print $Member->body; ?></textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b>Close</b></td>
		<td valign="top" align="left"><textarea rows="8" cols="50" wrap="virtual" id="auction_close" name="auction[close]"><?php print $Member->close; ?></textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Auction" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

