
<script type="text/javascript">

  
  function show_auction(url) {
    
    $("#auction").html("<img src='<?php base_path(); ?>resource/jeditable/indicator.gif'>");
    
    $.get(url, function(str) {
      $("#auction").hide();
      $("#auction").html(str);
      $("#auction").slideDown("fast");
    });
    
  }
  
</script>


<h3>My Auctions</h3>

<table align="center" cellpadding="3" cellspacing="0" border="0">

  <tr>
    <td>
      <br />
      <a href="<?php url_for( array('resource'=>'auctions','id'=>$Member->id,'action'=>'entry') ); ?>">
        <?php print $Member->headline; ?>
      </a>
    </td>
  </tr>

  <?php while( $Member = $collection->MoveNext() ) : ?>

  <?php $Entry = $Member->FirstChild('entries'); ?>

    <tr>
      <td>
        <a href="JavaScript:show_auction('<?php url_for(array('resource'=>'auctions','id'=>$Member->id,'action'=>'show.html')) ?>/partial');">
          <?php print $Member->headline; ?>
        </a>
      </td>
    </tr>

  <?php endwhile; ?>

</table>



<div id="auction"></div>


<br /><br /><br />
<br /><br /><br />
