

<form action="<?php url_for( 'auctions' ); ?>" method="post" name="auctions" id="auctions">
<div>
<input name="method" type="hidden" value="post" />
<input name="submit_form" type="hidden" value="auctions" />
<table border="0">

<tr><th colspan="2">


<?php render_partial('nav'); ?>

<br /><br /><br /></th></tr>

	<tr>
		<td align="right" valign="bottom"><h2>Headline</h2></td>
		<td valign="bottom" align="left"><input size="50" maxlength="100" id="auction_headline" name="auction[headline]" type="text" value="" /></td>
	</tr>
	<tr>
	  <td colspan="2">
	    &nbsp;
    </td>
  </tr>
	<tr>
		<td align="right" valign="center"><h2>Description</h2></td>
		<td valign="bottom" align="left"><textarea style="width: 360px;" rows="8" cols="50" wrap="virtual" id="auction_body" name="auction[body]"></textarea></td>
	</tr>
	<tr>
	  <td colspan="2">
	    &nbsp;
    </td>
  </tr>
	<tr>
		<td align="right" valign="center"><h2>Comments</h2></td>
		<td valign="bottom" align="left"><textarea style="width: 360px;" rows="8" cols="50" wrap="virtual" id="auction_close" name="auction[close]"></textarea></td>
	</tr>
	<tr>
	  <td colspan="2">
	    &nbsp;
    </td>
  </tr>

	<tr>
		<td align="right" valign="bottom"><b></b></td>
		<td valign="bottom" align="left">
		  
	
		  <input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />&nbsp;&nbsp;&nbsp;&nbsp;

<input value="Next Step: Add Photos" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

