
<table align="center" cellpadding="3" cellspacing="0" border="0">





    <tr>
      <td>

          <?php print $Category->name; ?>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        
        
          <?php
            global $db;
            $Entry =& $db->get_table('entries');
            $Join =& $db->get_table('categories_entries');
            $Join->find_by('category_id',$Category->id);
          ?>
          
          <?php while( $Member = $Join->MoveNext() ) : ?>
          
          <?php if ($Member) $e = $Entry->find($Member->entry_id); else $e = false; ?>
          
          <?php if ($e) $model =& $db->get_table($e->resource); ?>
          
          <?php if ($e && $model) $rec = $model->find($e->record_id); else $rec = false; ?>
          
          <?php if ($model->can_read('id')) : ?>
          
          <p><a href="<?php url_for( array( 'resource'=>$e->resource, 'id'=>$e->record_id )); ?>">
          
          <?php if ($rec && $e && $model) if (array_key_exists('title',$model->field_array)) print $rec->title; else print classify($model->table)." ".$rec->id; ?>
          
          </a></p>
          
          <?php endif; ?>
          
          <?php endwhile; ?>
      </td>
    </tr>


</table>



