
<table align="center" cellpadding="3" cellspacing="0" border="0">

  <tr>
    <td><b>Feed</b></td>
    <td><b>Type</b></td>
    <td><p></p></td>
  </tr>

  <?php while( $Member = $collection->MoveNext() ) : ?>

  <?php $Entry = $Member->FirstChild('entries'); ?>

    <tr>
      <td>
        <a href="<?php print $Member->href; ?>">
          <?php print $Member->title; ?>
        </a>
      </td>
      <td><p><?php print $Member->type; ?></p></td>
      <td>
      </td>
    </tr>

  <?php endwhile; ?>

</table>
<a href="JavaScript:show_page('<?php url_for( array(
  'resource'=>'auctions',
  'action'=>'new.html'
)); ?>/partial');">
<a href="JavaScript:show_page('<?php url_for( array( 'resource'=>'feeds', 'action'=>'import' )); ?>/partial');">
   <h2> Import Feeds...</h2>
  </a>
	<a href="JavaScript:show_page('<?php url_for( array( 'resource'=>'admin', 'action'=>'cloud' )); ?>/partial');">
	   <h2> Advanced Options...</h2>
	  </a>
	
	<form action="<?php url_for( array('resource'=>'feeds') ); ?>" method="post" enctype="multipart/form-data">
	<input name="method" type="hidden" value="post" />
	RSS<input name="rss_follow" value="">
	Title<input name="rss_title" value="">
	Link<input name="rss_link" value="">
	<input type="submit" value="Follow rssCloud Feed">
	</form>



