
<form>
<?php foreach ( $previews as $pname=>$pimg ) : ?>

  
  
<p>
  <img src="<?php echo $pimg; ?>" border="0" >
  <?php echo $pname; ?>
  <input name="<?php echo $pname; ?>" id="<?php echo $pname; ?>" type="checkbox" <?php if ($installedtheme == $pname) echo "checked"; ?>>
</p>

  

<script type="text/javascript">
  $(document).ready(function(){
    $("#<?php echo $pname; ?>").click(function(e){
      
      var someurl = "<?php url_for(array(
        'resource'=>'settings'
      )); ?>";
      
      var submitdata = {};
      
      submitdata['setting[name]'] = 'config.env.theme';
      submitdata['method'] = 'post';
      submitdata['setting[value]'] = '<?php echo $pname; ?>';
      
      if (!$("#<?php echo $pname; ?>").attr('checked')) {
        return;
      }
      
      $.post(someurl, submitdata, function(str) {
        alert(str);
      });
      
    });
  });
</script>

<?php endforeach; ?>
</form>



