<table align="center" cellpadding="0" cellspacing="20" border="0">

  <th colspan="4">
 
  </th>

  <tr>
    <td><b><?php echo $txt['wikis_index']; ?></b></td>
    <td><b></b></td>
  </tr>

  <?php while( $Member = $collection->MoveNext() ) : ?>

  <?php $Entry = $Member->FirstChild('entries'); ?>

    <tr>
      <td>
        <b><a href="<?php url_for( array( 'resource'=>str_replace(' ','',$Member->title))); ?>"><?php print $Member->title; ?></a>
          
        </b>
      </td>
      <td>
	<b></b>
	<a href="<?php url_for( array( 'resource'=>'wiki_pages', 'id'=>$Member->id, 'action'=>'remove' )); ?>">
        <img src='<?php base_url(); ?>resource/cancel.png'></a>
</td>
    </tr>

  <?php endwhile; ?>
  
  <tr>
    <td colspan="2"><a href="<?php url_for( array( 'resource'=>'wiki_pages','action'=>'new' )); ?>"><?php echo $txt['wikis_index_create_new_wiki']; ?></a></td>

  </tr>

</table>


<form action="<?php url_for( 'wiki_pages' ); ?>" method="post" name="wiki_pages" id="wiki_pages">
<div>
<input name="method" type="hidden" value="post" />
<input name="submit_form" type="hidden" value="wiki_pages" />
<input name="wikipage[parent_id]" type="hidden" value="<?php echo $request->id; ?>">
<table border="0">

<tr><th colspan="2">

</th></tr>

	<tr>
		<td align="right" valign="top"><p>Page Title</p></td>
		<td valign="top" align="left"><input size="50" maxlength="255" name="wikipage[title]" type="text" value="" /></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save new Wiki Page" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

