

<script src="<?php base_path(); ?>resource/jquery.ajaxfileupload.js" type="text/javascript"></script>
<script src="<?php base_path(); ?>resource/jeditable/jquery.jeditable.js" type="text/javascript"></script>
<script src="<?php base_path(); ?>resource/jeditable/jquery.highlightFade.js" type="text/javascript"></script>
<script src="<?php base_path(); ?>resource/jeditable/jquery.jeditable.ajaxupload.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[

function do_install(appnam) {
  
  $("#install"+appnam).html("<img src='<?php base_path(); ?>resource/jeditable/indicator.gif'>");
  
  var someurl = "<?php url_for(array(
    'resource'=>'settings'
  )); ?>";
  
  var submitdata = {};
  
  submitdata['setting[name]'] = 'app';
  submitdata['method'] = 'post';
  submitdata['setting[value]'] = appnam;
  
  
  $("#sidebar ul").html("<img src='<?php base_path(); ?>resource/jeditable/indicator.gif'>");
  
  $.post(someurl, submitdata, function(str) {
    
    var url = "<?php url_for(array('resource'=>'identities','action'=>'admin')); ?>"+"/partial";
    $.get(url, function(str) {
      $("#sidebar ul").hide();
      $("#sidebar ul").html(str);
      $("#sidebar ul").slideDown("slow");
      $("#install"+appnam).html("Installed");
    });
    
  });
  
  
  
}


$(document).ready(function() {
  
  var submit_to = "<?php url_for(array(
    'resource'=>'settings'
  )); ?>";
  
  $(".editable_select_installer").mouseover(function() { 
      $(this).highlightFade({end:'#def'});
  });
  $(".editable_select_installer").mouseout(function() { 
      $(this).highlightFade({end:'#fff', speed:200});
  });
  $(".editable_select_installer").editable(submit_to, { 
      indicator   : "<img src='<?php base_path(); ?>resource/jeditable/indicator.gif'>",
      loadurl     : '<?php url_for(array(
        "resource"=>"identities",
        "id"=>$Member->id,
        "action"=>"app_installer_json.json")); ?>',
      submitdata  : function() {
        return {
          "setting[name]"   : "app",
          "method"          : "post"
        };
      },
      name        : "setting[value]",
      type        : "select",
      placeholder : "Install an Application..",
      noappend    : "true",
      submit      : "Install",
      tooltip     : "Click to edit...",
      cancel      : "Cancel",
      callback    : function(value, settings) {
        var t = "Install another Application...";
        $(this).html(t);
        var url = "<?php url_for(array('resource'=>'identities','action'=>'admin')); ?>"+"/partial";
        $("#sidebar ul").html(settings.indicator);
        $.get(url, function(str) {
          $("#sidebar ul").hide();
          $("#sidebar ul").html(str);
          $("#sidebar ul").slideDown("slow");
      });
      

      
        return(value);
      }
  });
  
  
  $(".editable_select_installed").mouseover(function() { 
      $(this).highlightFade({end:'#def'});
  });
  $(".editable_select_installed").mouseout(function() { 
      $(this).highlightFade({end:'#fff', speed:200});
  });
  $(".editable_select_installed").editable(submit_to, { 
      indicator   : "<img src='<?php base_path(); ?>resource/jeditable/indicator.gif'>",
      loadurl     : '<?php url_for(array("resource"=>"identities","id"=>$Member->id,"action"=>"installed_apps_json.json")); ?>',
      submitdata  : function() {
        return {
          "method"          : "delete"
        };
      },
      name        : "entry[etag]",
      type        : "select",
      placeholder : "Uninstall...",
      noappend    : "true",
      submit      : "Remove",
      tooltip     : "Click to edit...",
      cancel      : "Cancel",
      callback    : function(value, settings) {
        var t = "Uninstall another...";
        $(this).html(t);
        var url = "<?php url_for(array('resource'=>'identities','action'=>'admin')); ?>"+"/partial";
        $("#sidebar ul").html(settings.indicator);
        $.get(url, function(str) {
          $("#sidebar ul").hide();
          $("#sidebar ul").html(str);
          $("#sidebar ul").slideDown("slow");
        });
        
     

        return(value);
      }
  });
  
});
// ]]>
</script>
<p class="editable_select_installer" id="editable_select_installer"></p>
<p class="editable_select_installed" id="editable_select_installed"></p>



<br /><br />

<?php echo $store; ?>


