
<form action="<?php url_for( 'identities' ); ?>" method="post" name="identities" id="identities" enctype="multipart/form-data">
<div>
<input name="MAX_FILE_SIZE" type="hidden" value="300000" />
<input name="method" type="hidden" value="post" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<table border="0">

<tr><th colspan="2">

</th></tr>

  <tr>
    <td align="right"><b>Last Name</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_family_name" name="identity[family_name]" type="text" value="<?php print $Member->family_name; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>First Name</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_given_name" name="identity[given_name]" type="text" value="<?php print $Member->given_name; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>Organization</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_organization_name" name="identity[organization_name]" type="text" value="<?php print $Member->organization_name; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>Title</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_title" name="identity[title]" type="text" value="<?php print $Member->title; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>Homepage</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_url" name="identity[url]" type="text" value="<?php print $Member->url; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>Email</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_email_value" name="identity[email_value]" type="text" value="<?php print $Member->email_value; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>ZIP</b></td>
    <td valign="top" align="left"><input size="50" maxlength="255" id="identity_postal_code" name="identity[postal_code]" type="text" value="<?php print $Member->postal_code; ?>" /></td>
  </tr>
  <tr>
    <td align="right"><b>Tz</b></td>
    <td valign="top" align="left"><select name="identity[tz]" size="1">
    <?php foreach( $identity_tz_options as $opt ) : ?>

    <option<?php if ( $Member->tz == $opt ) { print " selected"; } ?>><?php print $opt; ?></option>

  <?php endforeach; ?>


</select></td>
  </tr>
  <tr>
    <td align="right"><b>Photo</b></td>
    <td valign="top" align="left"><input id="identity_photo" name="identity[photo]" type="file" /></td>
  </tr>
  <tr>
    <td align="right"><b></b></td>

    <td valign="top" align="left"><br><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Identity" type="submit" name="button_group" /></td>
  </tr>
</table>
</div>
</form>
