






<div>
<form action="<?php url_for( 'identities' ); ?>" method="post" name="identities" id="identities" enctype="multipart/form-data">

<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<table border="0">


  <tr>
    <td align="right"><b>Set Password</b></td>
    <td valign="top" align="left"><input size="30" maxlength="255" id="identity_password" name="identity[password]" type="password" value="" /></td>
  </tr>
<tr>
  <td>
</td><td>
<input value="Save" type="submit" name="button_group" /></td>
  </tr>
</form>

</table>
</div>

