
<form action="<?php url_for( 'identities' ); ?>" method="post" name="identities" id="identities" enctype="multipart/form-data">
<div>
<input name="method" type="hidden" value="delete" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />

  <h3><?php echo $txt['removeprofile_title']; ?></h3><br />

    <span class="remove-profile-b"><?php echo $txt['removeprofile_last_name']; ?></span><br />
    <?php print $Member->family_name; ?><br /><br />

    <span class="remove-profile-b"><?php echo $txt['removeprofile_first_name']; ?></span><br />
    <?php print $Member->given_name; ?><br /><br />

    <input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="<?php echo $txt['removeprofile_button_cancel']; ?>" type="button" />
    <input value="<?php echo $txt['removeprofile_button_delete']; ?>" type="submit" name="button_group" />

</div>
</form>
