

<form action="<?php url_for( array('resource'=>'methods','action'=>'post') ); ?>" method="post" name="methods" id="methods">
<div>

<input name="submit_form" type="hidden" value="methods" />
<table border="0" cellpadding="0" cellspacing="20">

<tr><th colspan="2">
&nbsp;
</th></tr>

	<tr>
		<td align="right" valign="top"><p>OAuth Authentication</p></td>
		<td valign="top" align="left"><p><input name="method[oauth]" type="checkbox" value="1" id="qf_4aa16e" checked="checked" /></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>HTTP Authentication</p></td>
		<td valign="top" align="left"><p><input name="method[http]" type="checkbox" value="1" id="qf_1aba41" /></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>Function Name</p></td>
		<td valign="top" align="left"><p><input size="50" maxlength="255" id="method_function" name="method[function]" type="text" value="" /></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>URL Route</p></td>
		<td valign="top" align="left"><p><input size="50" maxlength="255" id="method_route" name="method[route]" type="text" value="" /></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>Permission Table</p></td>
		<td valign="top" align="left"><p><select name="method[resource]" size="1">
		  <option></option>
	  <?php foreach( $method_resource_options as $opt ) : ?>

    <option<?php if ( $Member->resource == $opt ) { print " selected"; } ?>><?php print $opt; ?></option>

  <?php endforeach; ?>


</select></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>Permission Action</p></td>
		<td valign="top" align="left"><p><select name="method[permission]" size="1">
		  <option></option>
	  <?php foreach( $method_permission_options as $opt ) : ?>

    <option<?php if ( $Member->permission == $opt ) { print " selected"; } ?>><?php print $opt; ?></option>

  <?php endforeach; ?>


</select></p></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p></p></td>
		<td valign="top" align="left"><p><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Method" type="submit" name="button_group" /></p></td>
	</tr>
</table>
</div>
</form>

