

<form action="<?php url_for( array('resource'=>'blogs','id'=>$Member->id) ); ?>" method="post" name="blogs" id="blogs">
<div>
<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<input name="submit_form" type="hidden" value="blogs" />
<table border="0">

<tr><th colspan="2">
<?php breadcrumbs(); ?>
</th></tr>

	<tr>
		<td align="right" valign="top"><b>Title</b></td>
		<td valign="top" align="left"><input size="50" maxlength="255" id="blog_title" name="blog[title]" type="text" value="<?php print $Member->title; ?>" /></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Stream" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

