

<form action="<?php url_for( array('resource'=>'translations','id'=>$Member->id) ); ?>" method="post" name="translations" id="translations">
<div>
<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<input name="submit_form" type="hidden" value="translations" />
<table border="0">

<tr><th colspan="2">
&nbsp;
</th></tr>

	<tr>
		<td align="right" valign="top"><b>Name</b></td>
		<td valign="top" align="left"><input size="50" maxlength="255" id="translation_name" name="translation[name]" type="text" value="<?php print $Member->name; ?>" /></td>

	</tr>
	<tr>
		<td align="right" valign="top"><b>Code</b></td>
		<td valign="top" align="left"><input size="50" maxlength="255" id="translation_code" name="translation[code]" type="text" value="<?php print $Member->code; ?>" /></td>

	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left">
		<table border="0" cellpadding="4" cellspacing="20">
<tr>
<td colspan="2">
  <p><b>spacebefore]</b> and <b>[spaceafter</b> indicate the presence of a space character before or after the string</p>
</td>
</tr>
		  <?php if (!empty($Member->data)) { $arrdata = unserialize($Member->data); } ?>
		<?php foreach ($template_fields as $field) : ?>
		  <tr>
		    <td><input name="trans_<?php echo $field; ?>" value="<?php if (isset($arrdata[$field])) echo $arrdata[$field]; ?>"></td>
		  
		  <?php foreach ($translation_fields as $arr) : ?>
		    <?php
		    
		    if (substr($arr['fields'][$field],-1) == ' ')
		      $aftspace = '<b>[spaceafter</b>';
		    else
		      $aftspace = '';
		    
		    if (substr($arr['fields'][$field],0,1) == ' ')
		      $befspace = '<b>spacebefore]</b>';
		    else
		      $befspace = '';
		    
		    ?>
		    <?php if ($arr['lang'] == 'English') : ?>
          <td><?php echo $befspace; ?><?php echo $arr['fields'][$field]; ?><?php echo $aftspace; ?></td>
	      <?php endif; ?>
		  <?php endforeach; ?>  
		  
	    </tr>
		<?php endforeach; ?>  
	</table>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Translation" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>
<br />
