<?php 

global $request,$db;
$Subscription =& $db->model('Subscription');
$Identity =& $db->model('Identity');


?>






<h2>Subscriptions:</h2>
<h4>(click on a subscription to remove it)</h4>
<br />

<?php $Subscription->find_by('subscriber',$Member->id); ?>
<?php while ($subscriber = $Subscription->MoveNext()) : ?>
<?php $subentry = $subscriber->FirstChild('entries'); ?>
<?php if (empty($subentry->etag)) $subscriber->set_etag(); ?>
<?php if ($subscriber->subscriber == $Member->id) : ?>
<?php $si = $Identity->find( $subscriber->subscribed ); ?>
<a href="<?php echo $request->url_for(array('resource'=>'subscriptions','id'=>$subscriber->id,'action'=>'remove')); ?>"><img style="border:none;width:48px;height:48px;" src="<?php echo $si->avatar; ?>"></a>
<?php endif; ?>
<?php endwhile; ?>


