

<script type="text/javascript">
  $(document).ready(function(){


<?php foreach($group_perms as $table=>$perms) : ?>
<?php
    $can = array();
    
    foreach($perms as $p=>$vals)
      $can[] = $p;
      
?>
  <?php    foreach($can as $p)  : ?>

<?php      $sname = 'config.perms.'. $table.".".$p.".".$Member->name;
      $pname = $table."_".$p."_".$Member->name;
    ?>

    $("#<?php echo $pname; ?>").click(function(e){
      $("#<?php echo $pname; ?>").html("<img src='resource/jeditable/indicator.gif'>");
      var someurl = "<?php url_for(array(
        'resource'=>'settings'
      )); ?>";
      var submitdata = {};
      submitdata['setting[name]'] = '<?php echo $sname; ?>';
      submitdata['method'] = 'post';
      submitdata['setting[value]'] = '0';
      $.post(someurl, submitdata, function(str) {
        show_tabs_page('<?php url_for( array( 'resource'=>'groups', 'action'=>'edit/partial', 'id'=>$Member->id )); ?>');
      });
    });
  <?php endforeach; ?>
<?php endforeach; ?>

    $("#addperm").click(function(e){
      $("#addperm").html("<img src='resource/jeditable/indicator.gif'>");
      var someurl = "<?php url_for(array(
        'resource'=>'settings'
      )); ?>";
      var tab = document.getElementById("tables").value;
      var perm = document.getElementById("perms").value;
      var sname = "config.perms." + tab + "." + perm + "." + '<?php echo $Member->name; ?>';
      var submitdata = {};
      submitdata['setting[name]'] = sname;
      submitdata['method'] = 'post';
      submitdata['setting[value]'] = '1';
      $.post(someurl, submitdata, function(str) {
        show_tabs_page('<?php url_for( array( 'resource'=>'groups', 'action'=>'edit/partial', 'id'=>$Member->id )); ?>');
      });
    });


  });
</script>





<form action="<?php url_for( array('resource'=>'groups','id'=>$Member->id )); ?>" method="post" name="groups" id="groups">
<div>
<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<input name="submit_form" type="hidden" value="groups" />
<table border="0">

<tr><th colspan="2">

</th></tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><h2><?php print $Member->name; ?> group</h2><br /></td>
	</tr>
	<tr>
	  <td colspan="2">
	    
<?php foreach($avatars as $key=>$ava) : ?>
<img width="50" height="50" src="<?php echo $ava ?>" alt="image" />
<?php endforeach; ?>
<br /><br />
    </td>
  </tr>
	
	
	<?php if (!(in_array($Member->name,array('members','everyone')))) : ?>

	<tr>
		<td align="right" valign="top"><p>Members</p><br>(1 e-mail per line)</td>
		<td valign="top" align="left"><textarea cols="48" rows="10" name="subscribers"><?php echo $subscribers; ?></textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />
  
  <input value="Save Group" type="submit" name="button_group" /></td>
  
  </tr>

	<?php else : ?>

	<?php endif; ?>
  
  <tr>
    <td colspan="2">
      <br /><br />
      <h3>Permissions:</h3>
      <form method="post" action="<?php url_for('settings'); ?>">
        
      <table border="0" cellpadding="7" cellspacing="7">
        
        
        
<?php foreach($group_perms as $table=>$perms) : ?>
<?php
    global $request;
    $can = array();
    
    foreach($perms as $p=>$vals)
      $can[] = $p;
    
    if (in_array($table,array('groups','posts','reviews','blogs')))
      echo "<tr><td>[<a href=\"".$request->url_for(array('resource'=>$table))."\">".$table."</a>]</td><td>";
    else
      echo "<tr><td><b>".$table."</b></td><td>";
    
    $comma = "";
    
    ?>
    
<?php    foreach($can as $p) : ?>
<?php      echo $comma."";

     
      
      $sname = 'config.perms.'. $table.".".$p.".0.".$Member->name;
      $pname = $table."_".$p."_".$Member->name;
      ?>
        

<input name="<?php echo $pname; ?>" id="<?php echo $pname; ?>" type="checkbox" checked>&nbsp;<?php echo $p; ?>
<?php  $comma = "</td><td>"; ?>
        
<?php endforeach; ?>
    
    <?php
    echo "</td></tr>";
    
        ?>
<?php endforeach; ?>



        

      </table>
    </form>
    </td>
  </tr>
  <form method="post" action="">
  <tr><td colspan="2">
    <br /><br />
    <table border="1" cellpadding="0" cellspacing="0">
      <tr><td><h4 style="margin: 20px;margin-bottom:0px;">Allow <?php echo $Member->name; ?> to </h4>
    <table border="0" cellpadding="0" cellspacing="20">
      <tr><td>
        <select id="perms" name="perms">
        <option value=""></option>
        <?php
        foreach(array('read','write','create','delete','superuser') as $p)
          echo "<option value=\"".$p."\">".$p."</option>";
        ?>
      </select>

        <select id="tables" name="tables">
        <option value=""></option>
        <?php
        global $db;
        foreach($db->tables as $tab)
          if (isset($db->models[$tab]))
            echo "<option value=\"".$tab."\">".$tab."</option>";
        ?>
      </select>
      <input id="addperm" type="submit" value="+" onClick="JavaScript:return false;">
      </td></tr>
    </table>
    </td></tr></table>
  </td></tr>
  
  
  <tr><td colspan="2">
    <?php
    $Identity =& $db->get_table( 'identities' );
?>


<br /><br /><br />
<?php if (!in_array($Member->name, array('members','everyone'))) : ?>
<p>Add a person to the <?php echo $Member->name; ?> group: </p>
<?php $Identity->find(); ?>
<?php while ($i = $Identity->MoveNext()) : ?>
  <?php if (!array_key_exists($i->id,$avatars)) : ?>

<img width="50" height="50" src="<?php echo $i->avatar; ?>" alt="image" />

<?php endif; ?>
<?php endwhile; ?>

<?php endif; ?>

  </td></tr>
  
</form>
  <tr>
    <td colspan="2">
            <br /><br /><br /><br />
      <i><b>Model Security Permissions</b></i>
<br />
<br />
      <ul>
        <li><u>read</u> -- view the contents of the table (per-field)</li>
        <li><u>write</u> -- overwrite data in existing records (per-field)</li>
        <li><u>create</u> -- create new records in the table</li>
        <li><u>delete</u> -- delete records from the table</li>
        <li><u>superuser</u> -- perform actions on others' records</li>
      </ul>
      <br /><br />
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <br /><br />
      <i><b>Rest API Methods</b></i>
<br />
<br />
      <ul>
        <li><u>get</u> -- view a record or collection</li>
        <li><u>put</u> -- overwrite a record</li>
        <li><u>post</u> -- create a new record</li>
        <li><u>delete</u> -- delete a record</li>
      </ul>
      <br /><br />
    </td>
  </tr>

    <tr>
    <td colspan="2">
      <br /><br />
      <i><b>Rest API GET Examples</b></i>
<br />
<br />
      <ul>
        <li>http://example.com/widgets</li>
        <li>http://example.com/widgets.html</li>
        <li>http://example.com/widgets.json</li>
        <li>http://example.com/widgets/1</li>
        <li>http://example.com/widgets/1/entry</li>
        <li>http://example.com/widgets/1/entry.json</li>
        <li>http://example.com/widgets/1/entry.jpg</li>
      </ul>
      <br /><br />
    </td>
  </tr>
  
    <tr>
    <td colspan="2">
      <br /><br />
      <i><b>Rest API POST Example</b></i>
<br />
<br />
      <ul>
        <li>form action: http://example.com/widgets</li>
        <li>form <b>method</b> parameter:</u> &quot;post&quot;</li>
        <li>form <b>widget[name]</b> parameter: &quot;Cool Widget&quot;</li>
      </ul>
      <br /><br />
    </td>
  </tr>

    <tr>
    <td colspan="2">
      <br /><br />
      <i><b>Rest API PUT Example</b></i>
<br />
<br />
      <ul>
        <li>form action: http://example.com/widgets</li>
        <li>form <b>method</b> parameter:</u> &quot;put&quot;</li>
        <li>form <b>entry[etag]</b> parameter: &quot;et-3425934&quot; </li>
        <li>form <b>widget[name]</b> parameter: &quot;Radio Widget&quot;</li>
      </ul>
      <br /><br />
    </td>
  </tr>
  
</table>
</div>
</form>

