

<form action="<?php url_for( 'groups' ); ?>" method="post" name="groups" id="groups">
<div>
<input name="method" type="hidden" value="post" />
<input name="submit_form" type="hidden" value="groups" />
<table border="0">

<tr><th colspan="2">

</th></tr>

	<tr>
		<td align="right" valign="top"><p>Group Name</p></td>
		<td valign="top" align="left"><input size="50" maxlength="255" id="group_name" name="group[name]" type="text" value="" /></td>
	</tr>
	<tr>
		<td align="right" valign="top"><p>Subscribers</p></td>
		<td valign="top" align="left"><textarea cols="48" rows="10" name="subscribers"></textarea></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Group" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

