
<form name="loginform" method="post" action="<?php print $submit_url; ?>">

  <p>Sign in or register with your OpenID:</p>
  
  <p>http://<input name="openid_url" value="<?php print $openid_url; ?>" size="40"></p>
  <input name="return_url" value="<?php print $return_url; ?>" type="hidden">
  <input name="protected_url" value="<?php print $protected_url; ?>" type="hidden">

  <input name="method" value="openid_submit" type="hidden">

  <p><input type="submit" value="Sign In"></p>
  
  <p>Don't have one? <a href="<?php print environment('openid_server'); ?>/?action=register&return=<?php print urlencode($return_to); ?>">Get a free SSL OpenID</a></p>

</form>

<script language="JavaScript" type="text/javascript">
  document.forms.loginform.openid_url.focus();
</script>