<?php echo $profile->nickname.'\'s Registered Apps:'; ?>

<?php $collection = new Collection('settings',array('name'=>'app','profile_id'=>get_app_id()))?>


<?php if (count($collection->members) == 0) : ?>

<p>Your Tweetiepic is unregistered.</p>
<p>
<a href="https://tweetiepic.com/secure/buy.html?a=tweetiepic">Click here</a> to securely register your Tweetiepic.</p>

<?php endif; ?>
<ul style="list-style:none;background:#CCC;">
<?php while ($s = $collection->MoveNext()) : ?>
<li>
<?php echo $s->value; ?>
</li>
<?php endwhile; ?>
</ul>

<p><a href="https://tweetiepic.com">Return to Tweetiepic</a></p>