<?php 

  global $request;
  $post = strtolower(classify($request->resource));

?>


<form action="<?php url_for( $request->resource ); ?>" method="post" name="<?php url_for( $request->resource ); ?>" id="<?php url_for( $request->resource ); ?>" enctype="multipart/form-data">
<div>
<input name="MAX_FILE_SIZE" type="hidden" value="6000000" />
<input name="method" type="hidden" value="post" />
<input name="<?php print $post; ?>[parent_id]" value="0" type="hidden" />
<input name="<?php print $post; ?>[local]" value="1" type="hidden" />
<table border="0" style="margin-left:20px;">

    <tr><td colspan="2" valign="top"><p>&nbsp;</p></td></tr>

  <tr>
    <td align="right" valign="top"><b>Status</b></td>
    <td valign="top" align="left"><textarea style="margin-left:5px;width:405px;" rows="3" cols="56" id="<?php print $post; ?>_title" name="<?php print $post; ?>[title]"><?php print $Member->title; ?></textarea></td>
  </tr>
  
  <tr>
    <td align="right" valign="top"><b>Article</b></td>
    <td valign="top" align="left">
      
      
      


      <textarea rows="4" style="width:350px;" cols="40" wrap="virtual" id="markItUp" name="<?php print $post; ?>[body]"><?php print $Member->body; ?></textarea></td>
  </tr>
        <script type="text/javascript">
        <!--
        $(document).ready(function()	{
        	$('#markItUp').markItUp(mySettings);
        });
        -->
        </script>
  <tr>
  <td align="right" valign="top"><b>Choose File</b></td>
    <td valign="top" align="left"><input id="<?php print $post; ?>_attachment" name="<?php print $post; ?>[attachment]" type="file"></td>
  </tr>
    <tr>
    <td colspan="2" valign="top"><p><ul><li><i>jpeg photo</i></li><li><i>avi or mov (quicktime) movie</i></li><li><i>mp3 audio</i></li></ul></p></td>
  </tr>


  <?php
       global $db;
       $Category =& $db->model('Category');
       //$Category->find();
       
       $p = get_profile();
?>

  <tr>
    <td align="right" valign="top"><b>Categories</b></td>
    <td valign="top" align="left"><select style="margin-left:5px;" size="6" name="category0">
      <?php while ( $c = $Category->MoveNext() ) : ?>
        <option><?php print $c->name; ?></option>
      <?php endwhile; ?>
    </select></td>
  </tr>




  <tr>
    <td align="right" valign="top"><b></b></td>
    <td valign="top" align="left"><br><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button">
<input type="hidden" name="<?php print $post; ?>[contributor]" value="<?php print $p->given_name." ".$p->family_name; ?>">
<input value="Submit Post" type="submit" name="button_group"></td>
  </tr>
</table>
</div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>