

	<?php if (environment('facebookKey')) : ?>
   <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
	<?php endif; ?>



<?php global $prefix; if (!empty($prefix)) return; ?>

<?php if (signed_in()) : ?>

  <p>Welcome, <?php echo $profile->nickname; ?> <a href="<?php url_for('openid_logout'); ?>">sign out</a></p>

	<?php $collection = new Collection('settings',array('name'=>'app','value'=>'tweetiepic','profile_id'=>get_app_id()))?>
<?php if (count($collection->members) == 0) : ?>

	<table border="1" cellpadding="30">
		<tr><td>

<p>Welcome to the Tweetiepic public beta test, enter your invite code:</p>


<form method="post" action="<?php url_for(array('resource'=>'posts','action'=>'invitecode')) ?>">
<input name="invitecode" size="4">
<input type="submit" value="Submit Invite Code">
</td></tr>
</form>

</table>
<br><br>
	<table border="1" cellpadding="30">
		<tr><td>

<p>Or, register for a premium Tweetiepic account to get access to the beta right now:</p>


<form method="get" action="https://tweetiepic.com/secure/buy.html">
	<select name="a">
		<option value="tweetiepicpro">Tweetiepic Pro 1 year membership</option>
		<option value="tweetiepic">Tweetiepic Standard 1 year membership</option>
	</select>
<input type="submit" value="Buy Tweetiepic">

<BR><BR>
<table border="1" cellpadding="3" cellspacing="0">
<tr>
	<td></td>
	<td>URL Shortening</td>
	<td>Search API</td>
	<td>Domain mapping</td>
	<td>Statistics</td>
	<td>Phone Support</td>
</tr>	
<tr>
	<td>Pro</td>
	<td align="center">x</td>
	<td align="center">x</td>
	<td align="center">x</td>
	<td align="center">x</td>
	<td align="center">x</td>
</tr>	
<tr>
	<td>Standard</td>
	<td align="center">x</td>
	<td align="center">x</td>
	<td align="center">&nbsp;</td>
	<td align="center">&nbsp;</td>
	<td align="center">&nbsp;</td>
</tr>	
</table>

</td></tr>
</form>

</table>

</body>
</html>
<?php exit;?>
	<?php endif; ?>

  <ul style="list-style:none;">

	  <li>
		  <?php if (has_twitter_account()) : ?>
			  <p style="color:#0F0;">Twitter</p>
			<?php else : ?>
			  <p style="color:#F00;"><a style="color:#F00;" href="<?php url_for('oauth_login'); ?>">Click to add Twitter</a></p>
		  <?php endif; ?>
	  </li>

	  <li>
		  <?php if (has_facebook_account()) : ?>
			  <p style="color:#0F0;">Facebook</p>

<?php
	  add_include_path(library_path().'facebook_stream');
	  require_once "FacebookStream.php";
	  require_once "Services/Facebook.php";
	  global $db,$prefix,$request;
	  $sql = "SELECT facebook_id FROM identities,facebook_users WHERE facebook_users.profile_id = identities.id and identities.person_id = ".get_person_id()." order by facebook_users.id desc limit 1";
	  $result = $db->get_result( $sql );
?>
<?php if ($db->num_rows($result) == 1) : ?>

<?php

$uid = $db->result_value($result,0,'facebook_id');
$fs = new FacebookStream(environment('facebookKey'),environment('facebookSecret'),environment('facebookAppName'),environment('facebookAppId'));



?>
		    <?php $fs->verifyPerms($uid,array('offline_access','status_update','photo_upload','read_stream'),'resource/'); ?>

<?php
global $db;

$Setting =& $db->model('Setting');

$Blog =& $db->model('Blog');
$b = $Blog->find_by('nickname',$blognick);

if (!$b) trigger_error('no blog found',E_USER_ERROR);

global $prefix;
$prefix = $b->prefix."_";
$db->prefix = $prefix;

$stat = $Setting->find_by(array('name'=>'facebook_uid','person_id'=>get_person_id()));
echo 10; exit;
if ($stat) {
	echo $stat->value; exit;
  $fs->verifyPerms($stat->value,array('offline_access','status_update','photo_upload','read_stream'),'resource/');
}


?>

<?php else : ?>
<?php echo "PONY"; ?>
		  <?php endif; ?>

			<?php else : ?>

			  <p style="color:#F00;"><a style="color:#F00;" href="JavaScript:facebook_dologin();">Click to add Facebook</a></p>



		  <?php endif; ?>

    </li>

    <li>
		  <?php if (has_google_account()) : ?>
			  <p style="color:#0F0;">Gmail</p>
			<?php else : ?>
			  <p style="color:#F00;"><a style="color:#F00;" href="<?php url_for('authsub'); ?>">Click to add Gmail</a></p>
		  <?php endif; ?>
	  </li>

    <li>
		  <?php if (has_flickr_account()) : ?>
			  <p style="color:#0F0;">Flickr</p>
			<?php else : ?>
			  <p style="color:#F00;"><a style="color:#F00;" href="<?php url_for('flickr_login'); ?>">Click to add Flickr</a></p>
		  <?php endif; ?>
	  </li>

	</ul>
	
	<?php if ($blognick) : ?>
		<table>
			<tr><td align="right">
					Username: </td><td><span style="color:#00F;"><?php echo $profile->nickname; ?> </span>
			</td></tr>
			<tr><td align="right">
					Password: </td><td><span style="color:#00F;"><form method="post" action="<?php url_for(array('resource'=>'posts','action'=>'setpass')); ?>"><input name="newpass" type="password" size="7"><input type="submit" value="Set" size="3"></form></span>
			</td></tr>

<tr><td align="right">
		API Root: </td><td><span style="color:#00F;"><?php blog_url($blognick); ?>api/ </span>
</td></tr>
<tr><td align="right">
		Image Service: </td><td><span style="color:#00F;"><?php blog_url($blognick); ?>api/upload </span>
</td></tr>
<tr><td align="right">
		Real-time feed: </td><td><span style="color:#00F;"><?php blog_url($blognick); ?>api/statuses/user_timeline/<?php echo $profile->id; ?>.rss </span>
</td></tr>
<tr><td align="right" style="color:#CCC;">
		Search API: </td><td><span style="color:#CCC;"><?php blog_url($blognick); ?>api/search </span>
</td></tr>
<tr><td align="right" style="color:#CCC;">
		URL Shortening Service: </td><td><span style="color:#CCC;"><?php blog_url($blognick); ?>api/trim_simple </span>
</td></tr>

</table>
	<?php endif; ?>

<?php else : ?>

  <?php render_partial('email'); ?>

<?php endif; ?>
