

<form method="post" action="http://structallang.tweetiepic.com/posts/config">

	<input type="hidden" name="method" value="config">
	<input type="hidden" name="posted" value="1">

<table border="0" cellpadding="0" cellspacing="0">





	<?php if ($fb) : ?>
	<tr>
		<td>Facebook</td>
		<td><input type="checkbox"></td>
	</tr>
  <?php endif; ?>

	<?php if ($bz) : ?>
	<tr>
		<td>Google Buzz</td>
		<td><input type="checkbox"></td>
	</tr>
  <?php endif; ?>

	<?php if ($tw) : ?>
	<tr>
		<td>Twitter</td>
		<td><input type="checkbox"></td>
	</tr>
  <?php endif; ?>

	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="Remove Selected Accounts">
		<td>
	</tr>
</table>
</form>
<a href="http://structallang.tweetiepic.com/openid_logout">Sign Out</a>
