
<table align="center" cellpadding="3" cellspacing="0" border="0">



  <?php while( $Member = $collection->MoveNext() ) : ?>

    <tr>
      <td>
        <h1><a href="<?php url_for( array( 'resource'=>'posts', 'id'=>$Member->id )); ?>">
        <?php print $Member->title; ?>
        </a></h1>
      </td>
    </tr>

    <tr>
      <td>
        <p>
        <?php print $Member->body; ?>
        </p>
      </td>
    </tr>
    
    <tr>
      <td>
        <br>
        <hr width="450">
        <br>
      </td>
    </tr>

    
  <?php endwhile; ?>

</table>



