

<?php if (isset($collection)) : ?>

  <!-- list of collection members -->
  <?php foreach ( $collection->members as $id => $resource ) : ?>
    <a href="<?php print url_for( array( 'resource'=>$collection->resource, 'id'=>$id ) ); ?>">
      <?php print classify($collection->resource) . " " . $id . "<br>"; ?>
    </a>
  <?php endforeach; ?>
  
  <!-- empty collection message -->
  <?php if ( count($collection->members) == 0 ) print "no entries found"; ?>
  
  <!-- link to New Member page -->
  <a href="<?php print url_for( array( 'resource'=>$collection->resource, 'action'=>'new' ) ); ?>">
    New <?php print classify($collection->resource); ?>
  </a>
  
 <?php endif; ?>