


<?php if (environment('authentication') == 'password') : ?>


<div id="email-login">

  <form name="login" action="<?php print $submit_url; ?>" method="post">

  <input name="method" value="password_submit" type="hidden" />

  <input type="hidden" name="url" value="" />

    <h3>Please enter your username and password below</h3>
      <br />

      <div id="email-login-right"><span class="email-login-b">Username:</span>
      <input class="email-login-input" type="text" maxlength="30" name="nickname" value="" /></div>
      <br />

      <div id="email-login-right"><span class="email-login-b">Password:</span>
      <input class="email-login-input" type="password" maxlength="30" name="password" /></div>
      <br />

      <div id="email-login-right2">
        <input type="checkbox" name="remember" id="remember" value="true" />
          <label for="remember">Remember Me</label>

        <input class="email-login" type="submit" name="submit" value="Login" />

  </form>
        <br />
        <a href="">Forgot your password?</a>
    </div>
</div>

<?php else : ?>


<form name="loginform" method="post" action="<?php print $submit_url; ?>">


<?php $key = environment('twitterKey'); if (!empty($key)) : ?>
    <br><p><a href="<?php url_for('oauth_login'); ?>">Sign in with your Twitter Account...</a></p><br>
    <?php endif; ?>
    <p><a href="<?php url_for('openid_login'); ?>">Sign in with your OpenID...</a></p><br>
  <p>Sign in with your E-Mail Address:</p>
  <p>E-Mail Address:&nbsp;<input name="email" value="<?php if ($email) print $email; elseif (isset($_SESSION['openid_email'])) print $_SESSION['openid_email']; else print ""; ?>" size="40">  </p>
  <input name="return_url" value="<?php print $return_url; ?>" type="hidden">
  <input name="protected_url" value="<?php print $protected_url; ?>" type="hidden">

  <input name="method" value="email_submit" type="hidden">

  <input type="submit" value="Sign In">

</form>

<script language="JavaScript" type="text/javascript">
  document.forms.loginform.email.focus();
</script>

<?php endif; ?>