


<?php if (environment('authentication') == 'password') : ?>


<table cellpadding="0" cellspacing="0" border="0" width="770" align="center" style="margin-top: 30px;">
<tr>
  <td class="content">
  
  <form name="login" action="<?php print $submit_url; ?>" method="post">

  <input name="method" value="password_submit" type="hidden" />

  <input type="hidden" name="url" value="" />

    <table cellpadding="5" cellspacing="0" border="0" align="center" width="500">
    <tr>
      <td height="40" align="center" colspan="2">Please enter your username and password below</td>
    </tr>
    <tr>
      <td height="10" colspan="2"></td>
    </tr>
    <tr>
      <td width="170" height="30" align="right">Username:</td>
      <td><input type="text" maxlength="30" name="nickname" value="" style="width: 180px;" /></td>
    </tr>
    <tr>
      <td width="170" height="30" align="right">Password:</td>
      <td><input type="password" maxlength="30" name="password" style="width: 180px;" /></td>
    </tr>
    <tr height="30" style="display: none;">
      <td>&nbsp;</td>
      <td>
        <input type="checkbox" name="remember" id="remember" value="true" />
        <label for="remember">
          Remember Me
        </label>
      </td>
    </tr>
    <tr height="30">
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" value="Login" style="width: 180px; font-size: 10px; text-transform: uppercase; color: #003366; border: 1px solid #336699; background-color: #DDDDDD; padding: 3px;" /></td>
    </tr>
    <tr>
      <td height="10" colspan="2"></td>
    </tr>
    </table>
  </form>
  
  <center>
    <a href="">Forgot your password?</a>

  </center>

  </td>
</tr>
</table>


<?php else : ?>


<form name="loginform" method="post" action="<?php print $submit_url; ?>">

  <p>Sign in with your E-Mail Address, or use the <a href="<?php url_for('openid_login'); ?>">OpenID login form</a>.</p>

  <p>E-Mail Address:&nbsp;<input name="email" value="<?php if ($email) print $email; elseif (isset($_SESSION['openid_email'])) print $_SESSION['openid_email']; else print ""; ?>" size="40">  </p>
  <input name="return_url" value="<?php print $return_url; ?>" type="hidden">
  <input name="protected_url" value="<?php print $protected_url; ?>" type="hidden">

  <input name="method" value="email_submit" type="hidden">

  <input type="submit" value="Sign In">

</form>

<script language="JavaScript" type="text/javascript">
  document.forms.loginform.email.focus();
</script>

<?php endif; ?>