


<?php if (environment('authentication') == 'password') : ?>


<div id="email-login">

  <form name="login" action="<?php print $submit_url; ?>" method="post">

  <input name="method" value="password_submit" type="hidden" />

  <input type="hidden" name="url" value="" />

    <h3>Please enter your username and password below</h3>
      <br />

      <div id="email-login-right"><span class="email-login-b">Username:</span>
      <input class="email-login-input" type="text" maxlength="30" name="nickname" value="" /></div>
      <br />

      <div id="email-login-right"><span class="email-login-b">Password:</span>
      <input class="email-login-input" type="password" maxlength="30" name="password" /></div>
      <br />

      <div id="email-login-right2">
        <input type="checkbox" name="remember" id="remember" value="true" />
          <label for="remember">Remember Me</label>

        <input class="email-login" type="submit" name="submit" value="Login" />

  </form>
        <br />
        <a href="">Forgot your password?</a>
    </div>
</div>

<?php else : ?>


<?php if (environment('facebookKey')) : ?>
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<?php endif; ?>

<form name="loginform" method="post" action="<?php print $submit_url; ?>">


<table border="0" cellspacing="20">
  <tr>
    
<?php if (environment('facebookKey')) : ?>
  

  
<td><fb:login-button size="medium" onlogin="facebook_onlogin();"></fb:login-button></td>


  
<?php endif; ?>


<?php $key = environment('twitterKey'); if (!empty($key)) : ?>
    <td><a href="<?php url_for('oauth_login'); ?>"><img src='<?php base_path(); ?>resource/twitter-signin-short.png'></a></td>
    <?php endif; ?>
   <td><a href="<?php url_for('openid_login'); ?>"><img src='<?php base_path(); ?>resource/openid-login-button.png'></a></td>
  </tr></table>
  
<?php if (environment('showemail')) : ?>
  <p>Sign in with your E-Mail Address:</p>
  <p>E-Mail Address:&nbsp;<input name="email" value="<?php if ($email) print $email; elseif (isset($_SESSION['openid_email'])) print $_SESSION['openid_email']; else print ""; ?>" size="40" />  </p>
  <input name="return_url" value="<?php print $return_url; ?>" type="hidden" />
  <input name="protected_url" value="<?php print $protected_url; ?>" type="hidden" />

  <input name="method" value="email_submit" type="hidden" />

  <input type="submit" value="Sign In" />
<?php endif; ?>
</form>

<script language="JavaScript" type="text/javascript">
  document.forms.loginform.email.focus();
</script>

<?php if (environment('facebookKey')) : ?>
  <script type="text/javascript">
    FB.init('<?php echo environment('facebookKey') ?>', "resource/xd_receiver.htm");
  </script>
<?php endif; ?>


<?php endif; ?>