<iframe 
  style="width: 100%; height: 300px; border: none;" 
  id="zeep_mobile_settings_panel" 
  src="https://secure.zeepmobile.com/subscription/settings?api_key=<?php echo environment('zeepAccessKey'); ?>&user_id=<?php echo get_profile_id(); ?>">
  </iframe>
  <?php $kw = environment('zeepKeyWord'); global $request; ?>
  <div><br /><br /><br />
      <?php if (!empty($kw)) : ?>
<p>Use the Zeep Mobile control panel (above) to set your phone number.</p>
<p>
Post to <?php echo $request->base; ?> from your phone with a text message like this:<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;<b><?php echo $kw; ?></b> hello <?php echo environment('site_title'); ?>!&quot; Send your text to <b>88147</b>.
</p>
      <?php endif; ?>
  </div>