


<?php if (environment('authentication') == 'password') : ?>

  <div id="register">
  <form name="login" action="<?php url_for('password_register'); ?>" method="post">

      <input name="method" value="password_register" type="hidden" />

      <input type="hidden" name="url" value="" />

      <h3>Create a new username and password</h3><br />

      <div id="register-right"><span class="register-b">Username:</span>
      <input class="register-input" type="text" maxlength="30" name="nickname" value="" /></div>
      <br /><br />

      <div id="register-right"><span class="register-b">Password:</span>
      <input class="register-input" type="password" maxlength="30" name="password" /></div>
      <br /><br />
      
      <div id="register-right"><span class="register-b">Password (again):</span>
      <input class="register-input" type="password" maxlength="30" name="password2" /></div>
      <br />
    <div id="register-right2">
      <input type="checkbox" name="remember" id="remember" value="true" />
      <label for="remember">Remember Me</label><br />
      <input type="submit" name="submit" value="Register" />
    </div>
  </form>
  
     <a href="">Forgot your password?</a>
</div>
<?php else : ?>


<form method="post" action="<?php print $submit_url; ?>">

<?php $key = environment('twitterKey'); if (!empty($key)) : ?>
    <br /><p><a href="<?php url_for('oauth_login'); ?>">Sign in with your Twitter Account...</a></p><br />
    <?php endif; ?>
    <p><a href="<?php url_for('openid_login'); ?>">Sign in with your OpenID...</a></p><br />
  <p>Sign in with your E-Mail Address:</p>


  <p>E-Mail Address:&nbsp;<input name="email" value="<?php if ($email) print $email; elseif (isset($_SESSION['openid_email'])) print $_SESSION['openid_email']; else print ""; ?>" size="40">  </p>
  <input name="return_url" value="<?php print $return_url; ?>" type="hidden">
  <input name="protected_url" value="<?php print $protected_url; ?>" type="hidden">

  <input name="method" value="email_submit" type="hidden">

  <input type="submit" value="Register">

</form>


<?php endif; ?>