
.frame {
  border: 6px solid white;
  background-color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-title {
  background-color: #BCB9BE;
}

.shadow-03 {
  background-color: #6B67B4;
  height: 4px;
  font-size:3px;
  border-bottom: 3px solid #FFFFFF;
}

.padd-footer {
  padding-left: 8px;
  padding-top: 2px;
}

a.link-white-small:visited, a.link-white-small:link {
  font-size: 9px;
  color: #000000;
  text-decoration: underline;
}

a.link-white-small:active, a.link-white-small:hover {
  font-size: 9px;
  color: #000000;
  text-decoration: none;
}

.content {
  padding: 4px;
}

.text-inv-small {
  font-size: 9px;
  color: #000000;
}

.content-text-small {
  font-size: 9px;
}

td {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  line-height: 14px;
}

a:visited, a:link {
  color: #000000;
  text-decoration: underline;
}

a:active, a:hover {
  color: #000000;
  text-decoration: none;
}

ul {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 10px;
}

li {
  list-style-type: disc;
  padding-left: 0em;
  line-height: 16px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  line-height: 14px;
  background-color: #BCB9BE;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 21px;
}

