<?php 

  global $request;
  $post = strtolower(classify($request->resource));

?>

<form action="<?php url_for( $request->resource ); ?>" method="post" name="<?php print $request->resource; ?>" id="<?php print $request->resource; ?>" enctype="multipart/form-data">
<div>
<input name="MAX_FILE_SIZE" type="hidden" value="11048576" />
<input name="method" type="hidden" value="put" />
<input name="entry[etag]" type="hidden" value="<?php print $Entry->etag; ?>" />
<table border="0">

<tr><td colspan="2">
<?php breadcrumbs(); ?>
</td></tr>

  <tr>
    <td class="edit-table2b">Title</td>
    <td class="edit-table"><input size="50" maxlength="255" id="<?php print $post; ?>_title" name="<?php print $post; ?>[title]" type="text" value="<?php print $Member->title; ?>" /></td>
  </tr>
  <tr>
    <td class="edit-table2b">Body</td>
    <td class="edit-table"><textarea class="edit" rows="4" cols="40" wrap="virtual" id="<?php print $post; ?>_body" name="<?php print $post; ?>[body]"><?php print $Member->body; ?></textarea></td>
  </tr>
  <tr>
    <td class="edit-table2b">Attachment</td>
    <td class="edit-table"><input id="<?php print $post; ?>_attachment" name="<?php print $post; ?>[attachment]" type="file" /></td>
  </tr>
  <tr>
    <td class="edit-table2b"></td>
    <td class="edit-table"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save" type="submit" name="button_group" /></td>
  </tr>
</table>
</div>
</form>