

<form action="<?php url_for( 'auction_photos' ); ?>" method="post" name="photos" id="photos" enctype="multipart/form-data">
<div>
<input name="MAX_FILE_SIZE" type="hidden" value="1048576" />
<input name="method" type="hidden" value="post" />
<input name="submit_form" type="hidden" value="photos" />
<table border="0">

<tr><th colspan="2">
<?php breadcrumbs(); ?>
</th></tr>

	<tr>
		<td align="right" valign="top"><b>Photo</b></td>
		<td valign="top" align="left"><input id="photo_photo" name="auctionphoto[photo]" type="file" /></td>
	</tr>
	<tr>
		<td align="right" valign="top"><b></b></td>
		<td valign="top" align="left"><input onclick="JavaScript:history.back();" name="button_group[Cancel]" value="Cancel" type="button" />

<input value="Save Photo" type="submit" name="button_group" /></td>
	</tr>
</table>
</div>
</form>

